---
layout: default
title: 首页
---

<ul class="post-list">
    {% for post in site.posts %}
        &raquo; <a href="{{post.url}}"> {{ post.title }}  </a> <span class="date"> {{ post.date | date: "%F" }} </span><br>
    {% endfor %}
</ul>
