<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="Keywords" content="科学，不是科普，数学，物理，公式，雷达，固体物理，凝聚态物理，合成孔径，相控阵，脉冲，多普勒，频段，天线，方向图，傅里叶，调频，薛定谔，自由电子气体，Drude，Sommerfeld" />
  <meta name="Description" content="uuspider的技术笔记，关于科学和技术。" />
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow" />
  <link rel="shortcur icon" href="{{site.baseurl}}images/i32.ico" type="image/x-icon" />
  <script src="{{site.baseurl}}javascripts/scale.fix.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
