<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ site.description }}"/>
        <meta name="viewport" content="width=device-width">
        <link href="/favicon.png" rel="icon">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">HOME</a>
            <a class="extra" href="http://wiki.tankywoo.com/">WIKI</a>
            <a class="extra" href="https://github.com/tankywoo">GITHUB</a>
            <a class="extra" href="/about.html">ABOUT</a>
            <a class="extra" href="/feed.xml">RSS</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
              Tanky Woo <<a href="mailto:me@tankywoo.com">me@tankywoo.com</a>>
              </p>
            </div>
          </div>
        </div>

<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6f8eefe3f13b327ada7a7406d2af3232' type='text/javascript'%3E%3C/script%3E"));
</script>


    </body>
</html>
