<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>{{page.title}} - {{site.title}}</title>
    <meta name="Keywords" content="科学，不是科普，数学，物理，公式，雷达，固体物理，凝聚态物理，合成孔径，相控阵，脉冲，多普勒，频段，天线，方向图，傅里叶，调频，薛定谔，自由电子气体，Drude，Sommerfeld" />
    <meta name="Description" content="uuspider的技术笔记，关于科学和技术。" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <link rel="shortcur icon" href="{{site.baseurl}}images/i32.ico" type="image/x-icon" />

</head>
<body>

  {{ content }}

</body>
</html>
